allow bootp;
allow booting;
max-lease-time 1200;
default-lease-time 900;
log-facility local7;

option ip-forwarding    false;
option mask-supplier    false;

subnet {{ dhcp_pool.subnet }} netmask {{ dhcp_pool.netmask }} {
    option routers {{ dhcp_pool.gw }};
    option domain-name-servers {{ dhcp_pool.dns }};
    range {{ dhcp_pool.start_dhcp }} {{ dhcp_pool.stop_dhcp }};
    next-server {{ ansible_default_ipv4.address }};
    filename "pxelinux.0";
}