Welcome to the installation of "My Ubuntu Server" !
Ubuntu 22.04
Version: 1.0
Architecture: x86_64

To start the installation enter :
    '1', '2' and press .

Available boot options:

  1 - Install Ubuntu 22.04 (this is default)
  2 - Boot from Harddisk 

Have a lot of fun...
